{% extends "template/padrao.html" %}

{% block home %}
  <div class="row">
    <div class='col-sm-4'>
      <h3>Taxa de Cartão <small><sup>taxaCard</sup></small></h3>
      <p>Criado para pessoas que utilizam o mercado pago point. 
Esse aplicativo mostra seu rendimento baseado na data de 
compensação e taxa de parcelamento.</p>
      <a href="https://exp-shell-app-assets.s3.us-west-1.amazonaws.com/android/%40ajjunior33/taxaCard-9417897601ea4d7cba1ab9f302a8c347-signed.apk">
        <button class="btn btn-primary btn-block">
       Baixar agora 
      </button>
      </a>
    </div>
  </div>

{% endblock %}