<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="#">A.V.A INFORMATICA</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Pagina Inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/desenvolvimento">Desenvolvimento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/meucomp">Meu computador</a>
      </li>
    </ul>
    <ul class="form-inline my-2 my-lg-0">
        <a href='/admin' class='text-light'>
            Área Restrita
        </a>
    </ul>
  </div>
</nav>
