{% extends "template/parent.html" %}

{% block home %}
  <div class="row">
    <div class="col-sm-4">
      <h3>Manutenção</h3>
      <p>Limpeza, formatação, troca de peças e muito mais, nosso objetivo de deixar seu
      computador voando!</p>
    </div>
    <div class="col-sm-4">
      <h3>Internet</h3>
      <p>Cabeamento estruturado, configuração de servidores/roteadores e outro. Tudo 
      isso para conectar seu negócio ou sua residencia.</p>
    </div>
    <div class="col-sm-4">
      <h3>Desenvolvimento</h3>
      <p> Criamos sitemas e aplicações para que você e seu negócio consigam automatizar
      os processos do dia-a-dia </p>
      <a href=""> Vejá algumas de nossas aplicações </a>
    </div>
  </div>
  <div class="jumbotron text-center">
    <h3>Principais Clientes</h3>
    <p> Tratamos nossos clientes com a maior satisfação do mercado, 
    em uma pequena lista segue nosso principais clientes. </p>
  </div>

{% endblock %}